<nav class="navbar navbar-light background-white small-text-special">

        <!-- Brand and toggle get grouped for better mobile display -->


    <div class="row" >
        <div class="navbar-brand logo-block p-r-1 ">
            <a href="#"><img src="imgs/logo.png" height="30" class="logoImage" alt=""/></a>
        </div>

        <div class="nav navbar-nav pull-xs-right navbar-questtag text-color-2C353A">

            <li class="nav-item  ">
                <a class="nav-link" href="#dashboard">DISPATCH </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#order">ORDERS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#driver">DRIVERS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#map">MAP</a>
            </li>
            <li class="nav-item  nav-padding ">
                <a class="nav-link" href="#report">REPORT</a>
            </li>
            <li class="nav-item" id="dispatcherCityNavItem">
                <div class=" dropdown radius-0">
                    <div class="btn-group">
                        <button class="btn cityDropDown dropdown-toggle border-color-354051 radius-0 " type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <span id="default_operational_area" class='areaNow small-text-special cityDropdownText'>Fremont, CA</span>
                        </button>
                        <div id="operational_area" class="dropdown-menu dropdown-menu-right dropdown-menu-responsive dropdown-menu-questtag">
                            <a class="dropdown-item small-text-special" href="#">Fremont, CA</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown m-r-1" id="dispatcherImgAndNameNavItem">
                <a href="#" class="dropdown-toggle  text-clor-green-9AC93B-hover no-underline-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="dispatcher_thumnail" src="imgs/ic_info.png" width="40" height="40" alt=""/><span id="username">Dispatcher</span><span class="caret"></span></a>

                <div class="dropdown-menu margin-top-neg1 dropdown-menu-admin text-size-14 back-color-354051 radius-0 margin-top-20"   id="adminMenu">
                    <div class="arrow-normal arrow-up "  ></div>
                    <a class="dropdown-item small-text" href="#accountInfo">My Account</a>
                    <a class="dropdown-item small-text" href="#settingsInfo">Settings</a>
                    <a class="dropdown-item small-text" href="#billingInfo">Billing</a>
                    <a class="dropdown-item small-text" href="#">Log Out</a>

                </div>
            </li>
        </ul>
    </div>
</div>

</nav>
<div class="bac-color-DarkGray height-5" id="navbarUnderline"  >
</div>


<div id="dashboardDiv" class=" ">
</div>




